# Настройки окружения
NODE_ENV="development"

# Настройки бекенда
PROTOCOL="http"
HOST="0.0.0.0"
PORT=3000
GLOBAL_PREFIX="/"
CORS_ORIGIN="localhost"

# WebSocket настройки
NOTIFICATIONS_WS_HOST="localhost"
NOTIFICATIONS_WS_PORT=3001
# CHAT_WS_PORT=3002

# Настройки подключения к PostgreSQL
DB_HOST="postgres"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="skillswap"

#JWT
JWT_ACCESS_SECRET="access_secret_123"
JWT_REFRESH_SECRET="refresh_secret_456"
JWT_ACCESS_EXPIRES_IN="10m"
JWT_REFRESH_EXPIRES_IN="7d"

BCRYPT_SALT=10

# OAuth настройки
YANDEX_CLIENT_ID="e2122f9fef734dfg6fa894143"
YANDEX_CLIENT_SECRET="7f78692adfg6107a3c6f0"

GOOGLE_CLIENT_ID="571816712206-utfgdf"
GOOGLE_CLIENT_SECRET="GOCSPX-Gjbwdfg__XX9ILYSEa0"

# Ограничения загружаемых файлов
LIMIT_FILE_SIZE=2097152
ALLOWED_MIME_TYPES="image/jpeg,image/png"

# Креды админа
ADMIN_EMAIL="admin@skillswap.com"
ADMIN_PASSWORD="admin123"

# Frontend envs
NEXT_PUBLIC_API_URL="http://localhost/api/"
NEXT_PUBLIC_BASE_URL="http://localhost"
NEXT_PUBLIC_ALLOWED_DEV_ORIGINS="localhost"
